<ion-content class="fullback">

  <div class="maindiv" style="height:100%">
    <img src="assets/imgs/logo.png" class="toplogo" alt="">

    <div>
      <div class="ht_45"></div>
      <ion-row>
        <ion-col size="3" class="vertical_centr" (click)="backbutton()">
          <ion-icon name="chevron-back-outline" class="backarrow"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <div class="heaertitle">Demographic Data</div>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <div class="ht_60"></div>

      <div class="Childrenpadd">
        <ion-row class="ChildrenPam">
          <ion-col size="7" class="vertical_centrC">
            <div class="deitephic">Children Details</div>
          </ion-col>

          <ion-col size="5">
            <div class="addbBtn" (click)="add()">ADD</div>
          </ion-col>
        </ion-row>
      </div>

      <div class="ht_40"></div>
      <div *ngIf="!graphicsdata">
        <div style="text-align: center;">No data added..</div>
      </div>
      <div class="listpadd">
        <ion-row *ngFor="let c of graphicsdata;let i = index;">
          <ion-col size="3" class="ion-no-padding" (click)="detailopen(i)">
            <img *ngIf="c.image == ''" src="assets/imgs/child.png" class="childimgs">
            <img *ngIf="c.image != ''" src="{{config.api}}{{c.image}}" class="childimgs">
          </ion-col>
          <ion-col size="8" (click)="detailopen(i)">
            <div class="clidename">{{c.name}}</div>
            <div class="clidedetail" *ngIf="c.detail != null">{{chkyear(c.dob)}} yrs | H:{{c.detail.height}} | W:{{c.detail.weight}}</div>
          </ion-col>
          <ion-col size="1" class="ion-no-padding vertical_centrC" (click)="detailopen(i)">
            <ion-icon name="play-circle-outline" class="playcercul"></ion-icon>
          </ion-col>
        </ion-row>
        <div class="ht_5"></div>
        <!-- <ion-row (click)="detailopen()">
          <ion-col size="3" class="ion-no-padding">
            <img src="assets/imgs/child.png" class="childimgs">
          </ion-col>
          <ion-col size="8">
            <div class="clidename">Radha shiva</div>
            <div class="clidedetail">13 yrs | H:110 | W:64</div>
          </ion-col>
          <ion-col size="1" class="ion-no-padding vertical_centrC">
            <ion-icon name="play-circle-outline" class="playcercul"></ion-icon>
          </ion-col>
        </ion-row> -->
      </div>
    </div>

  </div>

</ion-content>