

.heaertitle{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5%;
}
.description{

    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
}

.childimgs{
    margin-top: 15%;
    float: right;
    margin-right: 6%;
}
