<ion-content class="fullback">

  <div class="maindiv" style="height:1200px">
    <ion-row>
      <ion-col size="3" class="vertical_centr" (click)="backbutton()">
        <ion-icon name="chevron-back-outline" class="backarrow"></ion-icon>
      </ion-col>
      <ion-col size="6">
        <div class="heaertitle">Demographic Data</div>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <div class="ht_60"></div>
    <div>
      <img *ngIf="data.image == ''" src="assets/imgs/logo.png" class="toplogo" alt="">
      <img *ngIf="data.image != ''" src="{{config.api}}{{data.image}}" class="toplogo1" alt="">

      
      

      <div class="listpadd">
        <!-- <ion-row>
          <ion-col size="3" class="ion-no-padding">
            <img src="assets/imgs/child.png" class="childimgs">
          </ion-col>
          <ion-col size="8" class="vertical_centrC">
            <div class="clidename">{{data.name}}</div>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row> -->


        <div class="ht_10"></div>
        <div class="detaildiv"><b>Name</b>: {{data.name}}</div>
        <div class="detaildiv"><b>Date of Birth</b>: {{data.dob}}</div>
        <div class="detaildiv"><b>Gender</b>: {{data.gender}}</div>
        <div class="detaildiv"><b>Education</b>: {{data.education}}</div>
        <div class="detaildiv"><b>Parent occupation</b>: {{data.parent_occupation}}</div>
        <div class="detaildiv"><b>Education of the family head</b>:{{data.education_family_head}}</div>
        <div class="detaildiv"><b>Monthly income of the family</b>: {{data.monthly_income}}</div>
        <div class="detaildiv"><b>Socio economic status</b>: {{data.social_economical_strength}}</div>
        <div class="detaildiv"><b>Patient family history of cancer</b>: {{data.patient_family_history_of_cancer}}</div>
        <div class="detaildiv"><b>Details</b>:  {{data.description}}</div>
        <div class="detaildiv"><b>Type of treatment</b>: {{data.type_of_treatment}}</div>
        <div class="detaildiv"><b>Menstrual status</b>: {{data.menstrual_status}}</div>
        <div class="detaildiv"><b>Diagnosis</b>: {{data.diganosis}}</div>
        <div class="detaildiv"><b>Biochemical</b>: {{data.biochemical}}</div>
        <div class="detaildiv"><b>Clinical</b>: {{data.clinical}}</div>
      </div>
    </div>

  </div>

</ion-content>