<ion-content class="fullback">

  <div class="maindiv" style="height:100%">
    <img src="assets/imgs/logo.png" class="toplogo" alt="">

    <div>
      <div class="ht_45"></div>
      <ion-row>
        <ion-col size="3" class="vertical_centr" (click)="backbutton()">
          <ion-icon name="chevron-back-outline" class="backarrow"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <div class="heaertitle">Demographic Data</div>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <div class="ht_60"></div>

      <div class="listpadd">
        <ion-row (click)="detailopen()">
          <ion-col size="3" class="ion-no-padding">
            <img src="assets/imgs/child.png" class="childimgs">
          </ion-col>
          <ion-col size="8" class="vertical_centrC">
            <div class="clidename">Radha shiva</div>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>

        <div class="ht_20"></div>

        <div class="detaildiv">Name: Radha Shiva</div>
        <div class="detaildiv">Date of Birth: 06/12/2015</div>
        <div class="detaildiv">Gender: Female</div>
        <div class="detaildiv">Education: School</div>
        <div class="detaildiv">Parent occupation: Drive</div>
        <div class="detaildiv">Education of the family head: 8th</div>
        <div class="detaildiv">Monthly income of the family: Below 15k</div>
        <div class="detaildiv">Socio economic status: Poor</div>
        <div class="detaildiv">Patient family history of cancer: Yes</div>
        <div class="detaildiv">Details: Grand mother affected by breast cancer</div>
        <div class="detaildiv">Type of treatment: Radiotherapy</div>
        <div class="detaildiv">Menstrual status: Normal</div>
        <div class="detaildiv">Diagnosis: Level 3 curable stage regular exercise and food control needed</div>
      </div>
    </div>

  </div>

</ion-content>