.backarrow{
    color: #000;
    font-size: 18px;
    margin-left: 24px;
}
.heaertitle{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    text-align: center;
}
.listpadd{
    padding: 0 14px;
}
.childimgs{
    width: 60px;
    height: 60px;
    border-radius: 14px;
}
.clidename{
    font-size: 15px;
    color: #000;
    font-weight: 400;
}
.detaildiv{
    font-size: 14px;
    color: #000;
    padding: 6px 9px 6px 0;
}
.toplogo1{
    width: 100%;
}