<ion-content class="fullback">

  <div class="maindiv" style="height:100%">
    <img src="assets/imgs/logo.png" class="toplogo" alt="">
    <div>
      <div class="ht_45" style="background-color: #fce44c;"></div>
      <ion-row   style="background-color: #fce44c;">
        <ion-col size="1" class="vertical_centr1" (click)="backbutton()">
          <ion-icon name="chevron-back-outline" class="backarrow"></ion-icon>
        </ion-col>
        <ion-col size="6">
          
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <ion-row>
        <img src="assets/imgs/cbig.png" style="width: 100%;">
      </ion-row>

      <div style="margin-left: 5%;">
      <ion-row>
          <h5 class="title">Coffee</h5>
         
      </ion-row>
      <ion-row>
        <div class="subtitle">
          Nutrition
        </div>
      </ion-row>
      <ion-row style="margin-top: 5%;">
          <ion-col size="4">
            <div class="roundbox">180kal</div>
          </ion-col>
          <ion-col size="4" class="roundbox">
            <div class="roundbox">30g fats</div>
          </ion-col>
          <ion-col size="4" class="roundbox">
            <div class="roundbox">20g proteins</div>
          </ion-col>
      </ion-row>
      <ion-row>
        <div class="subtitle">
          Description
        </div>
      </ion-row>

      <ion-row style="margin-top:5%">
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. ... be distracted by the readable content of a page when looking at its layout</div>

      </ion-row>

      <img src="assets/imgs/add.png" class="add">

      
    </div>


    </div>    
  </div>
</ion-content>