.backarrow{
    color: #000;
    font-size: 18px;
    margin-left: 24px;
}
.heaertitle{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.heaer-title{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding: 10px;
    
}

.childimgs{
    width: 60px;
    height: 60px;
    border-radius: 40px;
}
.listpadd{
    padding: 0 14px;
}
.borderdiv{
    background: transparent;
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid #afafaf;
}
.clidename{
    font-size: 15px;
    color: #000;
    font-weight: 400;
    padding-top: 6px;
}
.clidedetail{
    font-size: 13px;
    color: #a5a5a5;
    padding-top: 5px;
}
.playcercul{
    font-size: 24px;
    color: #888888;
}
