<ion-content class="fullback">

  <div class="ht100p maindiv">

    <img src="assets/imgs/logo.png" class="toplogo" alt="">

    <div class="divtop1">
      <div class="heythere"> Hey There, </div>
      <div class="welcomebc"> Welcome Back </div>
    </div>

    <div class="ht_30"></div>

    <div class="paddiv">
      <ion-item class="itemclass" lines="none">
        <ion-icon name="mail-outline" slot="start" class="iconcls"></ion-icon>
        <ion-input class="ioninput"  [(ngModel)]="mobile" placeholder="Email / Mobile" type="text"></ion-input>
      </ion-item>
      <div class="ht_30"></div>
      <ion-item class="itemclass" lines="none">
        <ion-icon name="lock-closed-outline" slot="start" class="iconcls"></ion-icon>
        <ion-input class="ioninput" [(ngModel)]="password" placeholder="Password" type="password"></ion-input>
      </ion-item>
      <div class="ht_20"></div>
      <div class="forgotdiv" (click)="forgot()">Forgot your password?</div>
    </div>

    <div class="bottomdiv">
      <div>
        <ion-button class="loginbtn" (click)="Login()"> <ion-icon name="log-out" style="padding: 0 15px 0 0;"></ion-icon> Login</ion-button>
      </div>

      <div class="vertical_centr">
        <div class="borderdiv"></div> 
        <div class="ordiv vertical_centr">Or</div>
      </div>

      <ion-row>
        <ion-col size="6">
          <img src="assets/imgs/google.png" class="googlelogo" (click)="googleLogin()">
        </ion-col>
        <ion-col size="6">
          <img src="assets/imgs/facebook.png" class="facebooklogo" (click)="fblogin()">
        </ion-col>
      </ion-row>
      <div class="ht_20"></div>
      <div class="dontaccount" (click)="singgup()">Don't have an account yet? <span style="color: #b67be7;"> Register</span> </div>
      <div class="ht_40"></div>
    </div>

  </div>

</ion-content>