.backarrow{
    color: #000;
    font-size: 18px;
    margin-left: 24px;
}
.heaertitle{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    text-align: center;
}
.childimgs{
    width: 60px;
    height: 60px;
    border-radius: 14px;
}
.listpadd{
    padding: 0 14px;
}
.clidename{
    font-size: 15px;
    color: #000;
    font-weight: 400;
    padding-top: 6px;
}
.clidedetail{
    font-size: 13px;
    color: #a5a5a5;
    padding-top: 5px;
}
.playcercul{
    font-size: 24px;
    color: #888888;
}
.roundclass{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #ff9a98;
}
.ellipsecls{
    font-size: 4px;
    color: #fff;
}
.detaildiv{
    font-size: 14px;
    color: #000;
    padding: 3px 0 0 0;
}
