<ion-content class="fullback">

  <div class="ht100p maindiv">

    <img src="assets/imgs/logo.png" class="toplogo" alt="">

    <div class="divtop1">
      <div class="heythere"> Hey There, </div>
      <div class="welcomebc"> Forget Password </div>
    </div>

    <div class="ht_30"></div>

    <div class="paddiv">
      <ion-item class="itemclass" lines="none">
        <ion-icon name="mail-outline" slot="start" class="iconcls"></ion-icon>
        <ion-input [(ngModel)]="email" class="ioninput" placeholder="Email / Mobile" type="text"></ion-input>
      </ion-item>
      <div class="ht_20"></div>
      <div>
        <ion-button class="loginbtn" (click)="submit()"> Get OTP </ion-button>
      </div>
      <div class="ht_30"></div>
      <!-- <ion-item class="itemclass" lines="none">
        <ion-icon name="lock-closed-outline" slot="start" class="iconcls"></ion-icon>
        <ion-input class="ioninput" placeholder="Enter OTP" type="text"></ion-input>
      </ion-item>
      <div class="ht_10"></div>
      <div class="resenddiv">Resend OTP</div> -->
      <div class="ht_30"></div>
      <!-- <div>
        <ion-button class="loginbtn"> Verify </ion-button>
      </div> -->
      <div class="ht_30"></div>
    </div>

  </div>

</ion-content>