<ion-content class="fullback">

  <div class="maindiv" style="height:100%">
    <img src="assets/imgs/logo.png" class="toplogo" alt="">
    <div>
      <div class="ht_45"></div>
      <ion-row>
        <ion-col size="3" class="vertical_centr" (click)="backbutton()">
          <ion-icon name="chevron-back-outline" class="backarrow"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <div class="heaertitle">Dwonloads</div>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <div class="ht_60"></div>
      <div class="heaer-title">Dwonloads</div>
      <div class="listpadd">
        <ion-row *ngFor="let d of downloddata">
          <ion-col size="3" class="ion-no-padding">
            <img *ngIf="findextin(d.url) == 'png' || findextin(d.url) == 'jpg' || findextin(d.url) == 'PNG'"
              src="{{config.imgapi}}{{d.url}}" class="childimgs">
            <img *ngIf="findextin(d.url) == 'pdf'" src="assets/imgs/pdf.png" class="childimgs">
            <img *ngIf="findextin(d.url) == 'doct' || findextin(d.url) == 'doctx'" src="assets/imgs/doct.png"
              class="childimgs">
          </ion-col>
          <ion-col size="9" (click)="docfile(d.url)">
            <div class="clidename" *ngIf="Ciratifile(d.url) == 'PDF'" >PDF file name</div>
            <div class="clidedetail">{{chkdate(d.created_date)}}</div> 
          </ion-col>
        </ion-row>  
        <div class="ht_5"></div>

        <!-- <ion-row>
          <ion-col size="3" class="ion-no-padding">
            <img src="assets/imgs/child.png" class="childimgs">
          </ion-col>
          <ion-col size="9">
            <div class="clidename">Healthy Food </div>
            <div class="clidedetail">March 2</div>
          </ion-col>
        </ion-row> -->
      </div>
    </div>
  </div>
</ion-content>