/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.tab_images {
    height: 50px !important;
}
.center {
    text-align: center !important;
}
.right {
    text-align: right !important;
}
.left {
    text-align: left !important;
}
.center_box {
    margin: auto;
    display: table;
}
.padding_l_15 {
    padding-left: 15px;
}
.margin_t_5 {
    margin-top: 5px !important;
}
.margin_t_10 {
    margin-top: 10px !important;
}
.margin_t_15 {
    margin-top: 15px !important;
}
.margin_t_20 {
    margin-top: 20px !important;
}
.margin_t_25 {
    margin-top: 25px !important;
}
.margin_t_30 {
    margin-top: 30px !important;
}
.margin_t_35 {
    margin-top: 35px !important;
}
.margin_t_40 {
    margin-top: 40px !important;
}
.margin_t_50 {
    margin-top: 50px !important;
}
.margin_t_60 {
    margin-top: 60px !important;
}
.margin_t_80 {
    margin-top: 80px !important;
}
.margin_t_90 {
    margin-top: 90px !important;
}
.margin_b_5 {
    margin-bottom: 5px !important;
}
.margin_b_10 {
    margin-bottom: 10px !important;
}
.margin_b_20 {
    margin-bottom: 20px !important;
}
.boxshadow_none {
    box-shadow: none !important;
}
.ht_5 {
    height: 5px !important;
}
.ht_10 {
    height: 10px !important;
}
.ht_12 {
    height: 12px !important;
}
.ht_15 {
    height: 15px !important;
}
.ht_16 {
    height: 16px !important;
}
.ht_20 {
    height: 20px !important;
}
.ht_24 {
    height: 24px !important;
}
.ht_25 {
    height: 25px !important;
}
.ht_30 {
    height: 30px !important;
}
.ht_32 {
    height: 32px !important;
}
.ht_35 {
    height: 35px !important;
}
.ht_40 {
    height: 40px !important;
}
.ht_45 {
    height: 45px !important;
}
.ht_47 {
    height: 47px !important;
}
.ht_50 {
    height: 50px !important;
}
.ht_60 {
    height: 60px !important;
}
.ht_70 {
    height: 70px !important;
}
.ht_75 {
    height: 75px !important;
}
.ht_80 {
    height: 80px !important;
}
.ht_85 {
    height: 85px !important;
}
.ht_90 {
    height: 90px !important;
}
.ht_100 {
    height: 100px !important;
}
.ht_120 {
    height: 120px !important;
}
.ht_150 {
    height: 150px !important;
}
.ht_160 {
    height: 160px !important;
}
.ht_180 {
    height: 180px !important;
}
.ht_200 {
    height: 200px !important;
}
.ht_220 {
    height: 220px !important;
}
.ht_250 {
    height: 250px !important;
}
.ht_280 {
    height: 280px !important;
}
.ht_300 {
    height: 300px !important;
}
.font20 {
    font-size: 20px !important;
}
.font_20 {
    font-size: 20px !important;
}
.font_25 {
    font-size: 25px !important;
}
.font_30 {
    font-size: 30px !important;
}
.font_35 {
    font-size: 35px !important;
}
.font50 {
    font-size: 50px !important;
}
.bg_clr {
    background: linear-gradient(45deg, #005856 0%, #005074 100%);
}
.lh20 {
    line-height: 20px !important;
}
.floatr {
    float: right !important;
}
//=================================================================================================================
.customeLoader {
    background: transparent url(/assets/imgs/ZZ5H.gif) center no-repeat;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 0px;
}

::-webkit-scrollbar:horizontal {
    height: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.a_tag:active {
    background-color: #e8e8e8;
}
.c_tag:active {
    color: #005856;
}

.header-ios {
    padding-top: 18px;
}

.ios {
    --ion-safe-area-top: 0px;
}

.Heder_center {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

.vertical_centr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.vertical_centrC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    // -webkit-justify-content: center;
    // justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.dotdot {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.towlines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.srow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%;
}

.scol {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
}

.scol_5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
}
.scol_6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 6%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 6%;
    -ms-flex: 0 0 6%;
    flex: 0 0 6%;
    max-width: 6%;
}
.scol_10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 10%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}
.scol_15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}
.scol_20 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.scol_25 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.scol_30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.scol_35 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
}
.scol_40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.scol_45 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}
.scol_47 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 47%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 47%;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
    max-width: 47%;
}
.scol_50 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.scol_55 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
.scol_60 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}
.scol_65 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
}
.scol_70 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.scol_75 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.scol_80 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}
.scol_85 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 85%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
}
.scol_90 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 90%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
}
.scol_95 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 95%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 95%;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%;
    max-width: 95%;
}
.scol_100 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}

.media_query {
    max-width: 575px;
    margin: auto;
}
.toolbar-background-md {
    background: transparent;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
.imageloader{
    background-image: url("/assets/loadinanimationgif.gif") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 88px;
    z-index: 1111111;
    background-color: #ffffffc0;
  }

  .fullback{
    background: #fce44c;
    --background: #fce44c;
}
.ht100p{
    height: 100% !important;
}
.toplogo{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 111;
}
.maindiv{
    background: #fff;
    border-radius: 40px;
}
