<ion-content class="fullback">
  <div class="maindiv" style="height:100%">
    <img src="assets/imgs/logo.png" class="toplogo" alt="">
    <div>
      <div class="ht_45"></div>
      <ion-row>
        <ion-col size="3" class="vertical_centr" (click)="backbutton()">
          <ion-icon name="chevron-back-outline" class="backarrow"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <div class="heaertitle">Profile</div>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <div class="ht_60"></div>

      <div class="paddiv">
        <div class="ht_30"></div>
        <ion-item class="itemclass" lines="none">
          <ion-icon name="mail-outline" slot="start" class="iconcls"></ion-icon>
          <ion-input class="ioninput" [(ngModel)]="first_name" placeholder="First Name" type="text"></ion-input>
        </ion-item>
        <div class="ht_20"></div>
        <ion-item class="itemclass" lines="none">
          <ion-icon name="mail-outline" slot="start" class="iconcls"></ion-icon>
          <ion-input class="ioninput" [(ngModel)]="last_name" placeholder="Last name" type="text"></ion-input>
        </ion-item>
        <div class="ht_20"></div>
        <ion-item class="itemclass" lines="none">
          <ion-icon name="mail-outline" slot="start" class="iconcls"></ion-icon>
          <ion-input class="ioninput" [(ngModel)]="email" placeholder="Email" type="email"></ion-input>
        </ion-item>
        <div class="ht_20"></div>
        <ion-item class="itemclass" lines="none">
          <ion-icon name="mail-outline" slot="start" class="iconcls"></ion-icon>
          <ion-input class="ioninput" [(ngModel)]="mobile" placeholder="Mobile" type="text"></ion-input>
        </ion-item>
        <div class="ht_20"></div>
      </div>
      <div class="fm" (click)="submit()">Submit</div>
    </div>
  </div>
</ion-content>